.custom-border {
    border: 1.5px solid #ced4da
  }
  
  .red-button {
    background-color: #f44336 !important; 
    color: white !important;
  }
  
  .red-button:hover {
    background-color: #d32f2f !important; 
  }
  button{
    margin-right: 10px;
  }
